*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.bgc-img {
    width:100%;
    height:180px;
    background-color: rgb(10, 10, 10);
    background: url("../image/recruit/social-recruit.jpg") no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}
/*-------- 12栅格 -----------  */
.col-md-1 {width: 8.33%;}
.col-md-2 {width: 16.67%;}
.col-md-3 {width: 25%;}
.col-md-4 {width: 33.33%;}
.col-md-5 {width: 41.67%;}
.col-md-6 {width: 50%;}
.col-md-7 {width: 58.33%;}
.col-md-8 {width: 66.67%;}
.col-md-9 {width: 75%;}
.col-md-10 {width: 83.33%;}
.col-md-11 {width: 91.67%;}
.col-md-12 {width: 100%;}
.main{
    width: 60%;
    margin: auto;
}
.main {
    display: flex;
    /*background-color: yellowgreen;*/
    height: 200px;
}
.left{
    width: 25%;
    padding: 0 10px;
}
.type{
    /*background-color: yellow;*/
    border: 1px solid #b0c929;
}
.main .type .t {
    text-align: center;
    font-size: 15px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #b0c929;
}

.main  .type .typeList .typeName{
    padding: 0 20px;
    /*background-color: gray;*/
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    border-bottom: 1px dotted #b0c929;
}
.right{
    width: 75%;
}
.main  .search {
    /*background-color: gray;*/
    width: 100%;
    height: 210px;
}
.main  .search .searchLine {
    height: 150px;
    /*background-color: yellow;*/
    border-bottom: 1px solid #b0c929;
    /*border-radius: 50px;*/
    width: 100%;

}
.main  .search .searchLine .selectConditionList{
    height: 50px;
    background-color: rgb(211 210 217);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main  .search .searchLine .selectConditionList .selectCondition {
    width: 80px;
    text-align: center;
}
input::-webkit-input-placeholder{
    text-align: center;
}
.main  .search .searchLine .selectConditionList #clear {
    font-size: 12px;
    color: rgb(66, 63, 63);
}
.main  .search .searchLine .tip{
    padding-top: 15px;
    width: 300px;
    margin: 0px 0 0 60px;
    height: 30px;
}
.searchLine .search-frame {
    width: 400px;
    height: 35px;
    margin: 0px 0 10px 60px;

}

input{
    height: 30px;
    border-radius: 10px;
    border-color: #b0c929;
}
.right{
    border: 1px solid #b0c929;
    height: 860px;
}
.main  .search .hotTopic{
    display: flex;
    height: 60px;
    /*background-color: green;*/
    width: 100%;
    border-bottom: 1px solid #b0c929;;
}
.main  .search .hotTopic .title{
    height: 100%;
    width: 14%;
    text-align: center;
    line-height: 60px;
    /*background-color: pink;*/
}
.main  .search .hotTopic .hotList{
    height: 100%;
    width: 86%;
    /*background-color: orange;*/
    padding-left: 20px;
}
.main .detail{
    /*background-color: red;*/
    height: 700px;
}

.toRight{
    float: right;
}
.hot{
    background-color: rgb(211 210 217);
    margin: 0 10px;
    text-align: center;
    /*height: 30px;*/
    border-radius: 5px;
}
tr{
    height: 50px;
}
table{
    width: 100%;
}
table tr{
    width: 100%;
    font-size: 12px;
    text-align: center;
}
.first{
    background-color: #ddd;
}
tr:nth-child(odd){
    background-color: #eee;
}
